@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Poppins:ital,wght@1,200&display=swap');

:root{
    --main-color:#443;
    --border-radius:95% 4% 5%/4% 94% 3% 95%;
    --border-radius-hover:95% 4% 5%/4% 94% 3% 95%;
    --border-radius:.2rem solid var(--main-color);


*{
    font-family: 'Poppins', sans-serif;
    margin: 0 ;
    padding: 0;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    border: none;
    transition: all .2s linear;
}

.html{
  font-size:70% ;
  overflow-x: hidden;
  scroll-padding-top:7rem ;
  scroll-behavior: smooth;
}