*{
    font-family: 'Tangerine', 'cursive';
}
header {

    color: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.945) 0%, rgb(24, 137, 243) 50%, rgb(21, 43, 245)100%);
    text-size-adjust: 1.0cm;
}
body{
    background-image: url(../pizza/images/ano.jpg);
    background-size: cover;
    background-size: 166%;
    background-position-x: inherit;
    color: whitesmoke;
    text-size-adjust: 0.9cm;
}